:root{
    --bg-color:rgb(5, 5, 24);
    --text-color:white;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: auto 0;
}

#canvas{
    width: 100%; 
    border: 1px solid var(--text-color);
}

button {
    width:50px;
    height: 30px;
    margin-bottom: 5px;
}